@font-face {
  font-family: florence;
  src: url(fonts/florence.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: florence;
  font-size: 16px;
}

body {
  min-width: 150px;
  min-height: 100px;
  color: #696969;
  padding: 25px;
}

form[name="myForm"] {
  padding: 0 0 10px;
}

select[name="mySelect"] {
  padding: 5px;
  color: #84a7a9;
  outline: none;
  border: 1px solid #bababa;
}

.action {
  padding: 15px 0 0;
  clear: both;
  cursor: pointer;
}

.action img {
  width: 21px;
  height: 21px;
  float: left;
  margin-right: 10px;
}

.table-window {
  width: 550px;
  height: 300px;
  background: #FFFA81;
  display: none;
}
