* {
  padding: 0;
  margin: 0;
}

body {
  min-width: 150px;
  min-height: 100px;
  color: #696969;
  padding: 25px;
}

form[name="myForm"] {
  padding: 0 0 25px;
}

select[name="mySelect"] {
  padding: 5px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 6px -5px #696969;
}

select[name="mySelect"] option {
  border-bottom: 1px solid #696969;
}

.action {
  padding: 15px 0 0;
  clear: both;
  cursor: pointer;
}

.action img {
  width: 21px;
  height: 21px;
  float: left;
  margin-right: 10px;
}

.table-window {
  width: 550px;
  height: 300px;
  background: #FFFA81;
  display: none;
}
