@font-face {
  font-family: florence;
  src: url(fonts/florence.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: florence;
  font-size: 14px;
}


body {
  padding: 25px;
}

.table {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.items {
  font-weight: bold;
  color: #2e5477;
}

.col {
  display: table-cell;
  min-width: 70px;
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px solid #bababa;
}

.col:first-child {
  font-weight: bold;
  color: #84a7a9;
  padding-left: 0;
  text-align: left;
}

.row:last-child .col {
  border: none;
}

form.backToPopup:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

form.backToPopup input {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  padding: 3px 8px;
  cursor: pointer;
  font-size: 11px;
  background: #fff;
  border-radius: 3px;
  color: #696969;
  outline: none;
  border: 1px solid #bababa;
}